header.page-header
  .container-fluid.nav-container
    .container.main-header
      a.logo(href='/')
        img(src='/img/logo.png', alt='крутой логотип Greensite')
      button.btn-menu(type='button')

      include menuAdmin
