nav.menu
  ul.menu__list
    li.menu__item
      a.menu__link(href='/') Home
    li.menu__item
      a.menu__link(href='/about') ABOUT
    li.menu__item
      a.menu__link(href='/price') SERVICE & SPriCES
    li.menu__item
      a.menu__link(href='/how') HOw it works
    li.menu__item
      a.menu__link(href='/discounts') Discounts
    li.menu__item
      a.menu__link(href='/order') Order now
    li.menu__item
      a.menu__link(href='/faq') FAQ
    li.menu__item
      a.menu__link(href='/testimonials') Tesimonials
    li.menu__item
      a.menu__link(href='/blog') Blog
    li.menu__item
      a.menu__link(href='/samples') Samples

    - if(!Auth)
      li.menu__item
        a.menu__link(href='/login') Login
    - else
      li.menu__item
        a.menu__link(href='/profile') Profile
      li.menu__item
        a.menu__link(href='/logout') Exit