main.register-wrapper
  .container-fluid.container-fluid--ligtgreen.headline
    .container
      .row
        p.page-title Редагувати пост
  .container-fluid
    .container
      .row
        .col-xs-12.col-md-6.col-md-offset-3
          .register.list-block.list-block--green
            .list-block__head
              p.list-block__title Редагувати пост
              button.close
                i.fa.fa-times
            .list-block__body
              .box
                - if (errors)
                  each error in errors
                    .alert.alert-danger= error

                - if (success)
                    .alert.alert-success= success
                    br
                    .form-group
                    .row
                      .col-xs-5.col-sm-6
                        a.forgot-link(href='/blog') Повернутися до блогу

              - if (!success)
                form(action='/admin/edit', method='post', enctype="multipart/form-data")
                  .form-group
                    input(type='hidden', name='id', placeholder='Назва' value=""+ post._id)
                    input(type='text', name='title', placeholder='Назва' value=""+ post.title)
                  .form-group
                    input(type='file', name='image', placeholder='Картинка' )
                  .form-group
                    textarea(name='description')= post.title
                  .form-group.align-right
                    button.submit(type='submit', name='send') Зберегти