main.p404
	.container-fluid.container-fluid--ligtgreen.headline
		.container
			.row
				p.page-title 404
	.container-fluid--intro
		.container.container--intro
			.row
				.col-md-5.col-md-offset-4
					section.not-found
						hgroup
							h2.not-found__title 404
							p.not-found__second-title Page not found
						.not-found__body
							p THE LINK YOU FOLLOWED IS PROBABLY BROKEN OR THE PAGE HAS BEEN REMOVED
							.row
								a.btn(href='#') Back
							.row
								a.btn.btn--border(href='/') Home
