main.blog-wrapper
	.container-fluid.container-fluid--ligtgreen.headline
		.container
			.row
				p.page-title Blog
	.container-fluid
		.container
			.articles
				.row
					.col-md-10.col-md-offset-2
						article.post
							.post__info
								time.post__date(datetime='2014-08-03', pubdate='')
									p.post__month AUG
									p.post__day 3
									p.post__year 2014
								.post__comments
									p 12
									p comments
							.post__image
								img(src='img/post_img.jpg', alt='')
							.post__author
								| Posted by
								strong Sara brash
							h4.post__title Lorem ipsum dolor sit amet
							p.post__descr
								| Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
								| Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.
							a.btn.post__btn(href='post.html') Continue Reading
						article.post
							.post__info
								time.post__date(datetime='2014-08-03', pubdate='')
									p.post__month AUG
									p.post__day 3
									p.post__year 2014
								.post__comments
									p 12
									p comments
							.post__image
								img(src='img/post_img.jpg', alt='')
							.post__author
								| Posted by
								strong Sara brash
							h4.post__title Lorem ipsum dolor sit amet
							p.post__descr
								| Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
								| Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.
							a.btn.post__btn(href='post.html') Continue Reading
						article.post
							.post__info
								time.post__date(datetime='2014-08-03', pubdate='')
									p.post__month AUG
									p.post__day 3
									p.post__year 2014
								.post__comments
									p 12
									p comments
							.post__image
								img(src='img/post_img.jpg', alt='')
							.post__author
								| Posted by
								strong Sara brash
							h4.post__title Lorem ipsum dolor sit amet
							p.post__descr
								| Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
								| Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.
							a.btn.post__btn(href='post.html') Continue Reading
				.pagination
					ul
						li
							a(href='')
								i.fa.fa-angle-left
						li
							a.active(href='') 1
						li
							a(href='') 2
						li
							a(href='') 3
						li
							a(href='') 4
						li
							a(href='') 5
						li
							a.dotted(href='') ...
						li
							a(href='') 6
						li
							a(href='')
								i.fa.fa-angle-right
