main.discounts-wrapper
  .container-fluid.container-fluid--ligtgreen.headline
    .container
      .row
        p.page-title Discounts
  .container-fluid
    .container
      .discounts
        .row
          .col-md-10.col-md-offset-1
            h2.discounts__title Discounts for NEW and RETURNING customers!
            p.discounts__subtitle RETURNING CUSTOMERS GET 5, 10 OR 15 % DISCOUNTS
            .discount-label
              p.discount-label__info -20% for first order
        .row
          .col-xs-12
            p
              | EssaysService.com focuses on establishing long-term relationships with its customers.  Whether your order is small or large, or whether you have a single or multiple orders at one time, you will be able to take advantage of our discounts for the returning customers!
        .row
          .col-md-4.col-lg-3.col-lg-offset-1
            .discount
              strong -5%
              span discounts
          .col-md-8.col-lg-7
            .discount-info
              | When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.
        .row
          .col-md-4.col-lg-3.col-lg-offset-1
            .discount
              strong -10%
              span discounts
          .col-md-8.col-lg-7
            .discount-info
              | Order one or more assignments with a total of 51 pages or more, and we will give you a 10% discount on every future order
        .row
          .col-md-4.col-lg-3.col-lg-offset-1
            .discount
              strong -15%
              span discounts
          .col-md-8.col-lg-7
            .discount-info
              | If your order totals 101 pages or more (a single or multiple works), you will receive an automatic 15% discount on all future order
        .row
          .col-xs-12
            p
              | Whatever your writing needs are, we are ready to provide you with top quality professional writing help for the rest of your academic career!  Our professional writers, editors, and customer support professionals are always available and ready to help you at any time!
