<main class="price-wrapper">
<div class="container-fluid container-fluid--ligtgreen headline">
<div class="container">
<div class="row">
<p class="page-title">Services & Prices</p>
</div>
</div>
</div>
<div class="container-fluid">
<div class="container">

<div class="price">
<h2>Prices</h2>
<p>Confused about the difference in pricing of various writing services? We understand!  Most services charge a set price-per-page, for anything from a high school 5-paragraph essay to a Ph.D. dissertation. This should raise an immediate red flag to you.  No honest and ethical service can do this without using second-rate writers and databases of pre-written papers.</p>

<div class="row">
<div class="col-md-12 col-lg-10 col-lg-offset-1">

<div class="filter">
<form action="#" method="get">
<div class="row rf">
<div class="col-xs-12 col-sm-8 col-md-4 c1">
<div class="filter__currency">
<label class="filter__name">Currency:</label>
<input checked type="radio" name="currency" VALUE="USD" id="usd"><label for="usd">usd</label>
<input type="radio" name="currency" VALUE="GBP" id="gbp"><label for="gbp">gbp</label>
<input type="radio" name="currency" VALUE="EUR" id="eur"><label for="eur">eur</label>
<input type="radio" name="currency" VALUE="CAD" id="cad"><label for="cad">cad</label>
</div>
</div>
<div class="col-xs-6 col-sm-12 col-md-5 c2">
<div class="filter__product">
<label class="filter__name">Select product:</label>
<select name="product">
<option value="Essay">Essay</option>
<option value="Essay">Essay</option>
<option value="Essay">Essay</option>
<option value="Essay">Essay</option>
<option value="Essay">Essay</option>
<option value="Essay">Essay</option>
</select>
</div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 c3 ">

<label class="filter__name">Pages:</label>
<div class="number">
<span class="minus"></span>
<input type="text" class="number__input" name="pages" value="2" size="3"/>
<span class="plus"></span>
</div>

</div>
</div>
</form>
</div>

<div class="price-table">
<div class="price-table__head">
<div class="price-table__title">Deadline</div>
<div class="price-table__value">14 days</div>
<div class="price-table__value">7 days</div>
<div class="price-table__value">5 days</div>
<div class="price-table__value">3 days</div>
<div class="price-table__value">48 hours</div>
<div class="price-table__value">24 hours</div>
<div class="price-table__value">8 hours</div>
</div>
<div class="price-table__body">
<a class="bx-prev" href=""></a>
<a class="bx-next" href=""></a>
<div class="slider">
<div class="price-table__slide">
<div class="price-table__title">Hight school</div>
<div class="price-table__value">$7.50</div>
<div class="price-table__value">$8.25</div>
<div class="price-table__value">$8.50</div>
<div class="price-table__value">$9.15</div>
<div class="price-table__value">$11.25</div>
<div class="price-table__value">$12.00</div>
<div class="price-table__value">$16.50</div>
</div>
<div class="price-table__slide">
<div class="price-table__title">College</div>
<div class="price-table__value">$9.00</div>
<div class="price-table__value">$9.75</div>
<div class="price-table__value">$11.00</div>
<div class="price-table__value">$12.75</div>
<div class="price-table__value">$15.00</div>
<div class="price-table__value">$16.50</div>
<div class="price-table__value">$21.00</div>

</div>
<div class="price-table__slide">
<div class="price-table__title">University</div>
<div class="price-table__value">$11.25</div>
<div class="price-table__value">$12.00</div>
<div class="price-table__value">$13.00</div>
<div class="price-table__value">$15.00</div>
<div class="price-table__value">$18.00</div>
<div class="price-table__value">$18.75</div>
<div class="price-table__value">$25.50</div>

</div>
<div class="price-table__slide">
<div class="price-table__title">Master's</div>
<div class="price-table__value">$15.00</div>
<div class="price-table__value">$15.75</div>
<div class="price-table__value">$17.00</div>
<div class="price-table__value">$18.75</div>
<div class="price-table__value">$22.50</div>
<div class="price-table__value">$24.75</div>
<div class="price-table__value">$27.50</div>

</div>
<div class="price-table__slide">
<div class="price-table__title">PhP</div>
<div class="price-table__value">$15.00</div>
<div class="price-table__value">$15.75</div>
<div class="price-table__value">$17.00</div>
<div class="price-table__value">$18.75</div>
<div class="price-table__value">$22.50</div>
<div class="price-table__value">$24.75</div>
<div class="price-table__value">$27.50</div>

</div>
</div>
</div>
</div>

</div>
</div>

</div>

</div>
</div>
<div class="btn-wrapper">
<input type="submit" class="btn btn--red" value="Order now">
</div>
<div class="container-fluid">
<div class="container">
<p>At EssaysService.com, our pricing is uniquely designed to fit all of the factors involved in creating an original, professionally-written work at any academic level and with any deadline required.  The tables that follow will provide you important information about the cost of the work you need.  The price-per-page is based upon double-spaced, standard font, of approximately 300 words per page. </p>
<p>You will note that prices-per-page vary depending upon the following:</p>

<ul>
<li>Length of paper – the greater the length requirement, the less per page cost</li>
<li>Deadline  – the price declines as the deadline time frame lengthens</li>
<li>Academic level – high school writing is less expensive than that of  college and graduate levels</li>
</ul>

<p>Considering that we use degreed professionals who write each work from scratch as it is ordered, our prices are extremely reasonable.  We are not the cheapest service, but we do not want to be.  We are, however, as reasonable as you will find for the quality we deliver.
</p>
<p>There are many products and pricing levels that will meet your needs and fit your budget, and this is why so many students return to CompanyName.com over and over again.  No matter what your writing need, we have the writer, the quality, and the price for you!
</p>
<p>We have a team of American and British professional writers who are committed to academic integrity.  They produce authentic, original essays, research papers, term papers, theses, and dissertations, in part or whole, and stand ready to assist you, no matter what the need.
</p>

<h3>Our Services</h3>

<div class="row h100">
<div class="col-xs-12 col-md-6">
<div class="list-block list-block--green">
<div class="list-block__head">
<p class="list-block__title">Our Writers</p>
</div>
<div class="list-block__body">
<p>We employ only the best!  Our writers are all degreed in their fields of expertise and have vast experience creating essays, reports, term and research papers.  They know how to do the research, how to compile that research, analyze it, and collate it into an organized essay, research paper, term paper, book report, coursework, thesis or dissertation.
</p>
</div>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="list-block list-block--green">
<div class="list-block__head">
<p class="list-block__title">Our Editors</p>
</div>
<div class="list-block__body">
<p>In addition to premier writers, we have a complete team of editors who review and proofread every piece written.  Theycorrect any problems with research, research citation, organizational structure, data analysis and conclusions, scan each created work with plagiarism detection software.  We guarantee that the work you receive is an original, belongs to only you, and will never be sold to another.  Clearly, you can count on us to do the job for you and to exceed your greatest expectations.  That's what a quality service delivers, and CompanyName.com is that quality service.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>