main.samples-wrapper
  .container-fluid.container-fluid--ligtgreen.headline
    .container
      .row
        p.page-title Samples
  .container-fluid
    .container
      .sample
        .sample__item
          .row
            .col-xs-12
              p.sample__title Powerpoint Presentation
          .row.row--dashed
            .col-md-3.hidden-xs.hidden-sm
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
              .btn-wrapper
                a.btn.btn--red(href='#') Order now
            .col-md-9
              .list
                .list__row
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Topic:
                    .col-xs-6.col-md-4
                      span.list__value Business Ethics Behavior
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Number of pages:
                    .col-xs-6.col-md-4
                      span.list__value 6
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Urgency:
                    .col-xs-6.col-md-4
                      span.list__value 7 days
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value APA
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value 0
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value High Shcool
              .btn-wrapper.visible-xs.visible-sm
                a.btn.btn--red(href='#') Order now
          .row.row--second
            .col-xs-4.col-sm-3.visible-xs.visible-sm.c1
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
            .col-xs-8.col-sm-12.col-md-offset-0.col-md-5.c2
              p.lite You can order your custom written paper NOW
              p.list__price.list__price--green
                | Prices from
                span.list__price--red $11.99/page
            .col-xs-6.col-sm-5.col-md-2.c3
              .discount
                strong -20%
                span discounts
            .col-xs-6.col-sm-4.col-md-5.c4
              p.list__price.get-discount
                | Get
                span.list__price--red 20%
                |  discount on the first order
        .sample__item
          .row
            .col-xs-12
              p.sample__title Powerpoint Presentation
          .row.row--dashed
            .col-md-3.hidden-xs.hidden-sm
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
              .btn-wrapper
                a.btn.btn--red(href='#') Order now
            .col-md-9
              .list
                .list__row
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Topic:
                    .col-xs-6.col-md-4
                      span.list__value Business Ethics Behavior
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Number of pages:
                    .col-xs-6.col-md-4
                      span.list__value 6
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Urgency:
                    .col-xs-6.col-md-4
                      span.list__value 7 days
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value APA
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value 0
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value High Shcool
              .btn-wrapper.visible-xs.visible-sm
                a.btn.btn--red(href='#') Order now
          .row.row--second
            .col-xs-4.col-sm-3.visible-xs.visible-sm.c1
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
            .col-xs-8.col-sm-12.col-md-offset-0.col-md-5.c2
              p.lite You can order your custom written paper NOW
              p.list__price.list__price--green
                | Prices from
                span.list__price--red $11.99/page
            .col-xs-6.col-sm-5.col-md-2.c3
              .discount
                strong -20%
                span discounts
            .col-xs-6.col-sm-4.col-md-5.c4
              p.list__price.get-discount
                | Get
                span.list__price--red 20%
                |  discount on the first order
        .sample__item
          .row
            .col-xs-12
              p.sample__title Powerpoint Presentation
          .row.row--dashed
            .col-md-3.hidden-xs.hidden-sm
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
              .btn-wrapper
                a.btn.btn--red(href='#') Order now
            .col-md-9
              .list
                .list__row
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Topic:
                    .col-xs-6.col-md-4
                      span.list__value Business Ethics Behavior
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Number of pages:
                    .col-xs-6.col-md-4
                      span.list__value 6
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Urgency:
                    .col-xs-6.col-md-4
                      span.list__value 7 days
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value APA
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value 0
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value High Shcool
              .btn-wrapper.visible-xs.visible-sm
                a.btn.btn--red(href='#') Order now
          .row.row--second
            .col-xs-4.col-sm-3.visible-xs.visible-sm.c1
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
            .col-xs-8.col-sm-12.col-md-offset-0.col-md-5.c2
              p.lite You can order your custom written paper NOW
              p.list__price.list__price--green
                | Prices from
                span.list__price--red $11.99/page
            .col-xs-6.col-sm-5.col-md-2.c3
              .discount
                strong -20%
                span discounts
            .col-xs-6.col-sm-4.col-md-5.c4
              p.list__price.get-discount
                | Get
                span.list__price--red 20%
                |  discount on the first order
        .sample__item
          .row
            .col-xs-12
              p.sample__title Powerpoint Presentation
          .row.row--dashed
            .col-md-3.hidden-xs.hidden-sm
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
              .btn-wrapper
                a.btn.btn--red(href='#') Order now
            .col-md-9
              .list
                .list__row
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Topic:
                    .col-xs-6.col-md-4
                      span.list__value Business Ethics Behavior
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Number of pages:
                    .col-xs-6.col-md-4
                      span.list__value 6
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Urgency:
                    .col-xs-6.col-md-4
                      span.list__value 7 days
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value APA
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value 0
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value High Shcool
              .btn-wrapper.visible-xs.visible-sm
                a.btn.btn--red(href='#') Order now
          .row.row--second
            .col-xs-4.col-sm-3.visible-xs.visible-sm.c1
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
            .col-xs-8.col-sm-12.col-md-offset-0.col-md-5.c2
              p.lite You can order your custom written paper NOW
              p.list__price.list__price--green
                | Prices from
                span.list__price--red $11.99/page
            .col-xs-6.col-sm-5.col-md-2.c3
              .discount
                strong -20%
                span discounts
            .col-xs-6.col-sm-4.col-md-5.c4
              p.list__price.get-discount
                | Get
                span.list__price--red 20%
                |  discount on the first order
        .sample__item
          .row
            .col-xs-12
              p.sample__title Powerpoint Presentation
          .row.row--dashed
            .col-md-3.hidden-xs.hidden-sm
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
              .btn-wrapper
                a.btn.btn--red(href='#') Order now
            .col-md-9
              .list
                .list__row
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Topic:
                    .col-xs-6.col-md-4
                      span.list__value Business Ethics Behavior
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Number of pages:
                    .col-xs-6.col-md-4
                      span.list__value 6
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Urgency:
                    .col-xs-6.col-md-4
                      span.list__value 7 days
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value APA
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value 0
                  .row
                    .col-xs-6.col-md-4.col-md-offset-2
                      span.list__name Style:
                    .col-xs-6.col-md-4
                      span.list__value High Shcool
              .btn-wrapper.visible-xs.visible-sm
                a.btn.btn--red(href='#') Order now
          .row.row--second
            .col-xs-4.col-sm-3.visible-xs.visible-sm.c1
              .sample__icon-wrap
                a.sample__icon(href='sample.pdf')
            .col-xs-8.col-sm-12.col-md-offset-0.col-md-5.c2
              p.lite You can order your custom written paper NOW
              p.list__price.list__price--green
                | Prices from
                span.list__price--red $11.99/page
            .col-xs-6.col-sm-5.col-md-2.c3
              .discount
                strong -20%
                span discounts
            .col-xs-6.col-sm-4.col-md-5.c4
              p.list__price.get-discount
                | Get
                span.list__price--red 20%
                |  discount on the first order
        .pagination
          ul
            li
              a(href='')
                i.fa.fa-angle-left
            li
              a.active(href='') 1
            li
              a(href='') 2
            li
              a(href='') 3
            li
              a(href='') 4
            li
              a(href='') 5
            li
              a.dotted(href='') ...
            li
              a(href='') 6
            li
              a(href='')
                i.fa.fa-angle-right
