main.testimonials-wrapper
  .container-fluid.container-fluid--ligtgreen.headline
    .container
      .row
        p.page-title testimonials
  .container-fluid
    .container
      section.testimonials
        h2 What our customer says?
        .row
          .col-xs-12.col-lg-10.col-lg-offset-1
            .links-wrapper.clearfix
              .pagination
                ul
                  li
                    a(href='')
                      i.fa.fa-angle-left
                  li
                    a.active(href='') 1
                  li
                    a(href='') 2
                  li
                    a(href='') 3
                  li
                    a(href='') 4
                  li
                    a(href='') 5
                  li
                    a.dotted(href='') ...
                  li
                    a(href='') 6
                  li
                    a(href='')
                      i.fa.fa-angle-right
              a.btn.post__btn(href='#') Leave Reply
        .row
          .col-xs-12.col-lg-10.col-lg-offset-1
            .testimonial
              blockquote
                p.testimonial__body
                  | We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                footer
                  cite Dr. Patricia Lolland, Houston, TX
            .testimonial
              blockquote
                p
                  | We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                footer
                  cite Dr. Patricia Lolland, Houston, TX
            .testimonial
              blockquote
                p
                  | We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                footer
                  cite Dr. Patricia Lolland, Houston, TX
            .testimonial
              blockquote
                p
                  | We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                footer
                  cite Dr. Patricia Lolland, Houston, TX
            .testimonial
              blockquote
                p
                  | We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                footer
                  cite Dr. Patricia Lolland, Houston, TX
            .testimonial
              blockquote
                p
                  | We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                footer
                  cite Dr. Patricia Lolland, Houston, TX
            .testimonial
              blockquote
                p
                  | We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                footer
                  cite Dr. Patricia Lolland, Houston, TX
        .row
          .col-xs-12.col-lg-10.col-lg-offset-1
            .links-wrapper.clearfix
              .pagination
                ul
                  li
                    a(href='')
                      i.fa.fa-angle-left
                  li
                    a.active(href='') 1
                  li
                    a(href='') 2
                  li
                    a(href='') 3
                  li
                    a(href='') 4
                  li
                    a(href='') 5
                  li
                    a.dotted(href='') ...
                  li
                    a(href='') 6
                  li
                    a(href='')
                      i.fa.fa-angle-right
        .row
          .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
            .list-block.list-block--green
              .list-block__head
                p.list-block__title Leave Your Reply
              .list-block__body
                form(action='#', method='post')
                  .row
                    .col-md-4
                      .form-group
                        label Your name
                    .col-md-8
                      .form-group
                        input(type='text', name='name', required='', value='')
                  .row
                    .col-md-4
                      .form-group
                        label Comments
                    .col-md-8
                      .form-group
                        textarea(name='comments', required='', rows='4')
                  .row
                    .col-xs-6.col-sm-4
                      .form-group
                        label Your mark
                    .col-xs-6.col-sm-8
                      .stars
                        input#star5(type='radio', name='rating', value='5')
                        label.stars__icon(for='star5')
                        input#star4(type='radio', name='rating', value='4')
                        label.stars__icon(for='star4')
                        input#star3(type='radio', name='rating', value='3')
                        label.stars__icon(for='star3')
                        input#star2(type='radio', name='rating', value='2')
                        label.stars__icon(for='star2')
                        input#star1(type='radio', name='rating', value='1')
                        label.stars__icon(for='star1')
                  .row
                    .col-xs-12
                      .form-group.align-right
                        button.submit(type='submit', name='send') Send
